{% extends "layout.html" %}
{% block head %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css')}}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='skills.css')}}">
{% endblock %}
{% block content %}
<div class="container" style="display: flex; align-items: center; justify-content: space-evenly; margin-top: 10px;">
    <div class="left">
        <form id="contactus" action="" method="post">
            <fieldset> <input placeholder="name" type="text" tabindex="1" required autofocus> </fieldset>
            <fieldset> <input placeholder="Email Address" type="email" tabindex="2" required> </fieldset>
            <fieldset> <textarea placeholder="Type your message here..." tabindex="5" required></textarea> </fieldset>
            <fieldset> <button name="submit" type="submit" id="contactus-submit" data-submit="...Sending">Send </button> </fieldset>
        </form>
    </div>
    <div class="right">
    </div>
</div>
{% endblock %}